.mobileV div[data-id='895A091B-4905-4DD7-BD24-3FA35B47D2FB'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='98B618F2-281E-442A-8E1B-4FD7981DCD32'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='BF5D67F6-614A-4E7D-9096-77E5AD63291F'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='2EE0D473-37F6-492C-A691-53463605FB33'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='86B9FF52-A682-4F08-950C-AF6148AA60EC'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='9D300521-8D50-4052-9336-4FBBA60B870F'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='7188D5EA-C453-484F-9972-8BEA3DCBCF73'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='3A13553F-CD1E-417B-846E-3B62E908BBC7'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='E0E312EE-8567-4AD3-8324-1F58171E0B67'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='D5F3450F-532A-44D3-B5A2-CCDE178F6E71'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='DD221F94-D18D-4F2F-AAA4-FC783E7824B0'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='FBA9AF3F-5CBC-41E0-BA7C-E139D4BBE9BB'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='0258C886-253F-49C3-BFE8-4EC9B86E771B'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='22354ED4-C1C7-40D4-ADA2-B3E32DB225CE'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='CCCEDC72-EBD5-46A1-A816-E32900E610A2'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='FCD39346-FA8A-4A8D-8DC2-CDF4307117D4'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='7CCC7CB0-856A-4908-9489-FDB08479D5EC'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='D4B33407-D1DA-4F8B-9965-7198EEC063B6'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='2002B6EF-042C-4634-811B-B7402D5279FC'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='1DF44907-497D-40C2-BBA7-F3691EC8E85B'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='A277BA28-916F-4AB9-B64C-1E687E73994D'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='DA85E42D-AAA4-4335-A70E-5D9FE3F6F950'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='4BE287F9-0F7E-409B-BF4E-24997789A5D0'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='A15736E0-3F10-4B9A-BF8C-04A4381901C9'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='F5200057-70A0-41BA-9529-C98870D802AE'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='2BF4564A-3E36-4FF0-94CA-A530166E32B2'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='3816E26B-41D6-483C-B506-FE70DCDA949D'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='8BD090AC-C733-4C20-B13E-EC7E3BABA81B'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='00DC7671-674D-4CB7-8A5B-F0A429CB6E76'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='9EF94885-269D-4FC4-A767-C9010A1E9308'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='CC89F42B-7F8B-4A64-9D01-3096F227506C'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='4CCA24A2-CFCB-49FC-95EA-614D248A0EAA'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='A89E7EF3-6619-4FA9-B6D7-83A9D3BD91EC'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='EDBBCDD2-3DE4-48E3-84CE-F883EB4A8099'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='24BD99D1-1A30-4D28-AAB1-209A466FB712'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='99078FE7-F498-463C-A291-C7552283E663'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='154F0052-CD71-492C-995E-F9F4577D10DE'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='7C09B5A5-DF83-47A4-AE16-56C1767BE2B6'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='E6B8C37E-0549-4308-82C3-561F3F17B33F'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='F47025B9-4246-45EF-B84E-CD4344068993'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='FCB65F4C-3FB1-402E-9B2A-CC3541575ADA'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='56715DE8-FDC0-488A-8219-BD9860901794'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='67848C69-01B1-46A8-B894-CEB03E1D5180'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='84C8D622-52AB-409B-9563-87E3EF01A1B4'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='58CFB307-85A4-4542-A097-8060399552AD'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='51F64B41-D9E1-4017-9BF2-F664B37E32AD'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='648B1C48-6B94-47DF-BB8B-711AD12376F3'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='8477F0C3-A8CC-4FE2-AF1D-2A06036D9F1B'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='BE68C9A3-414E-44C4-96F4-6158A9AB0E45'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='71A8060D-BF84-4100-8E26-31014FF1198F'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='DFD509D8-0650-41D6-9C8E-A7403BCF6BA8'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='8BFB406E-EF07-4019-9E8E-672C961D199B'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='32EACB33-BC6A-414C-BDF0-834FEFDB601C'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='3B6401A5-AAC5-481C-8A0E-EB8FEBC99785'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='DD4B1FDC-2CC3-4C4E-B225-6A67E08875A6'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='8F7DE395-4829-483D-A62F-A915FF1E944B'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='F5D5EED0-AD46-4287-AA90-FF0F4A3B0F05'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='DA178E87-8246-4B6D-857F-1638B73BFDB3'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='03369BC1-DC54-4662-B320-BF0AF41DEFBE'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='712BFC03-E0B3-4FC9-8265-ABCB3D97D983'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='E4BC6C2D-B7D7-4A1C-9923-FA08A5AAB827'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='9820143E-D3DB-4D05-B8A8-C41F63979878'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='F95E8996-57FA-49CA-A21B-DF3637F61614'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='A3344EBD-F5CE-4570-A832-3928C1E0A71B'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='2560FE65-B885-44D0-8440-1F90DAF20765'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='9894372F-49D0-49EF-B5DA-408EA63AE575'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='6D100108-FB1E-46A8-A7EA-4E7DF6600442'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='5477A38C-67C4-4273-B943-DCEA616D1EE5'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='44C32DE2-BBC3-47F3-871A-E1D91D6606C7'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='64203325-BAD2-4E65-8550-F59810CE7606'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='2663F0C4-5DCD-4ADE-A8A3-704A0899429C'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='5023AD89-BAE9-47ED-826E-16886616F2B5'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='EEEE490C-5330-4A99-8CF4-AFF952EFBC68'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='44FABC67-6CFA-4B8F-90E4-E93B04119481'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='62EDDD73-E7F0-4328-8A11-F4E3ADD555AC'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='848C9E9A-C82E-4F80-8172-66120EF394A1'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='54861BE9-DBA0-4768-9702-A3F67AB9533E'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='369DFB97-5C89-4AF1-A725-7538C2B520D2'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='1A88F8DD-B295-451D-8C1D-BC4F457B738B'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='661C54D4-894D-4801-B090-67DF26D67906'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='805514F1-A0C9-4034-A150-C6A862C5CA10'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='90E0815C-BF78-4257-883D-5534EBD3C6D3'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='6DA3C653-BAD9-42AE-868E-5436D65B2DC2'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='95A4B12B-7E35-4033-9AD0-070A90FC181C'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='8FDAE2A0-AA9A-470B-A3F5-122054E1F144'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='B36F3D41-4ED6-44F9-8584-1AF87EE2CE88'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='34335CA6-7D37-466A-AB00-19E3E3F93400'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='B67088AD-747F-48ED-9F99-7165C9A941CE'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='D967A823-9382-44FC-B024-ACD126B4C920'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='619C2FF1-5B2E-4B8B-9C9E-270D083206E8'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='DBEB2C21-68BC-4ADD-B938-65C42DFC9D4F'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='A22F1636-9F20-4140-AE4C-7EBE9FDE3DAE'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='0E5F5DEC-70CD-496D-A0C5-E16D133BAAD5'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='A0680394-DB39-4756-86AA-EED9AB2490C1'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='56551D8F-C554-4511-94BE-6503D6331A7C'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='CCFDD3C2-252D-4C9D-B7C9-35A68A96F321'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='159FDF1C-3431-427E-ADE5-5FD0C962ECBD'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='01E34677-E244-4987-AB62-2419A575CD7D'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='F0286A86-3768-4EFD-8D06-21382EC8E2C4'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='7B531305-AF97-4693-BDEE-A1A35FA28620'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='7A1BCAD6-643F-4592-9BA9-795F2C948397'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='AF045FEE-0BD5-4843-9095-F46B27777B64'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='30B8C427-0A60-43F3-8D15-12CCC2125016'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='F9BD2F3D-8F95-40F6-AAB3-F8BD4D6D04E5'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='67E4BB71-2D4C-4C32-A517-D1FC937909D5'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='D28A1491-D79E-4AC6-93F3-D6E8C5185CAE'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='9F2570B5-D1A7-4C76-A1F3-C379ADBF8FDA'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='6512A506-DF21-4D81-A3EE-800569B9F7D8'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='B287F1F2-AFDD-4938-949A-3532C8EFB268'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='D90564B8-5DDF-408D-B08B-BA3BF7CD692B'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='D35B7BAC-C976-4B0A-B093-1A131D31E30D'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='A22A5BAE-3CE2-46FE-80DF-DDCCA71F0A90'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='3BE4EA3F-EE41-45ED-AE48-454B51426977'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='17C0906C-129D-41AF-8023-74AF9EEA422B'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='070BCD6D-1138-4005-94B0-689F8A7727FA'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='EE94F3BA-555C-45BE-A4E9-4A696F5910BC'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='BBFF1B6E-C459-4294-A903-ECE767B4593F'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='9FBCADC5-F4E0-4799-9C6A-F03B019BA749'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='5FACA858-03EA-4632-88EE-B3199F37A6E5'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='411D3108-7DDD-4ABB-99ED-F95D480BBE8F'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='72D2B2E0-20A1-4D5F-A4AD-526C36E3C65E'] > div:first-child {border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='519A5BAF-E637-4092-A1BB-D8E53C7E258A'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='41A49460-AB78-4DC6-9016-83048A49B632'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='8B3D870B-A48C-4BBF-98A5-02DDF444F4F1'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='C5095BF0-4E5C-40D3-B512-BE16AAAA73AC'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='88BB0F19-3DCD-4616-BB40-549ED9E4E5E0'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='444B4EF3-2A59-4F48-8C14-88A75F1363DE'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='FC4C9A11-06C9-417B-BC33-F025B655ACFC'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='DA646CE8-24B6-4D56-9EDC-CB25AA08A84C'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='4A538D35-B50F-4ED9-A284-4A1BAE2FF441'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='39B0A687-CAB6-4B62-AEF5-94AD2AC0BF9B'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='34CA1891-04F2-45DC-A7B6-F9C9FF6B827A'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='E6A6F713-7F9B-412A-81E9-81401A48F26F'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='37FA0F13-E74D-4DE3-91C9-8A0C47B26BAA'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='9ACCF400-7690-40AB-88E7-F9984AF0DEA1'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='955C4C0C-7F15-4228-AE9D-70415458633D'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='CD154F7C-C0C1-4681-8A0F-9C45B9E77C36'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='A6F815E6-6CD8-418C-9644-9CAAAD79E919'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='4F714D00-25ED-48BD-AE56-AE9F5E0D76D5'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='435D2383-7D89-482B-8F76-D3EF474EB3C2'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='A35FA27B-62C2-4D1C-A163-5A6824174E93'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='22D6EFA4-3144-44BB-B07F-68FE04131A6C'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='C3C21161-8421-4692-912F-23F4E4AAEF5B'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='538C8DD4-9DA7-498C-9095-0A651F68762B'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='E43DF689-4CBB-43B5-AD4B-FB0BB7E590B8'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='0549A2D9-6F54-4209-89DA-BFA6D957C401'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='6FBF9772-21AF-401E-8A8F-79CA9EE61D81'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='6DD39598-0B32-4EA8-B841-15E8089AE84F'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='18AA90A8-BF00-4213-A71A-BDDF7838ED3D'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
border-top-width: 1px !important;
border-right-width: 1px !important;
border-bottom-width: 1px !important;
border-left-width: 1px !important;
}
.mobileV div[data-id='57492EA0-2D0A-4A82-B0CB-08152B6A8166'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
}

.mobileV div[data-id='A4BF7ED4-0645-4C37-AD48-51EEA68A8485'] .Social_container__2rWh4 {
    justify-content: center;
    margin-top: -12.5px;
    margin-bottom: -12.5px;
}
.mobileV div[data-id='A4BF7ED4-0645-4C37-AD48-51EEA68A8485'] .Social_container__2rWh4 a {
    
                margin-left: 13px;
                margin-right: 12px;
            
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    height: 50px !important;
    width: 50px !important;
}
.mobileV div[data-id='A4BF7ED4-0645-4C37-AD48-51EEA68A8485'] .Social_container__2rWh4 a svg {
    width: 50px !important;
    height: 50px !important;
    position: absolute;
}
.mobileV div[data-id='95F5D5E2-B9DE-4C3D-924D-CC63D43100F8'] > div:first-child {border-top-left-radius: 5px !important;
border-top-right-radius: 5px !important;
border-bottom-right-radius: 5px !important;
border-bottom-left-radius: 5px !important;
}

            .mobileV div[data-id='9827F233-FD1F-4E3F-90F8-30A72FE0E098'] {
                display: block !important;
            }

            .mobileV div[data-id='E77D4DC3-49CC-4779-99DB-72DF01A66011'] {
                display: block !important;
            }

            .mobileV div[data-id='9D9426D1-A970-45E4-95D8-923ED1889E55'] {
                display: block !important;
            }

            .mobileV div[data-id='278753A6-2E83-4CC0-B1B7-713256CDE87D'] {
                display: block !important;
            }
        @media (max-width: 650px) { body { min-width: 'initial' } body.desktopV { min-width: 1254px } }
        @media (min-width: 651px) { body { min-width: 1254px } body.mobileV { min-width: initial } }